.cards-bg {
  background-image: $gradient-bg;

  .cards {
    margin-top: 300px;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 30px;

    @include responsive(m) {
      margin-top: 200px;
      grid-template-columns: 1fr 1fr;
      gap: 56px 10px;
    }

    @include responsive(s) {
      margin-top: 66px;
      grid-template-columns: 1fr 1fr;
      gap: 56px 10px;
      padding-bottom: 80px;
    }

    @include responsive(xs) {
      margin-top: 16px;
      grid-template-columns: 1fr;
      gap: 40px;
      padding-bottom: 80px;
    }

    .card {
      background-color: $white;
      padding: 64px 32px 40px 32px;
      border-radius: 15px;
      position: relative;

      display: flex;
      flex-direction: column;

      @include responsive(s) {
        padding: 56px 22px 32px 32px;
      }

      &:not(.title) {
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
      }

      &.title {
        background-image: $gradient-1;

        @include responsive(xs) {
          padding: 24px 28px 32px 28px;
        }

        h3 {
          @include type-1(h3, desktop);
          color: $white;

          @include responsive(s) {
            @include type-1(h3, mobile);
          }

          @include responsive(xs) {
            @include type-1(h3, mobile);
          }
        }
      }

      img {
        position: absolute;
        top: -24px;
      }

      h4 {
        @include type-1(h4, desktop);
        color: $blue;
        margin-bottom: 24px;
        @include responsive(s) {
          @include type-1(h4, mobile);
          margin-bottom: 16px;
        }
        @include responsive(xs) {
          @include type-1(h4, mobile);
          margin-bottom: 16px;
        }
      }

      p {
        flex: 1;
        @include type-1(p1, desktop);
        color: $gray;
        margin-bottom: 24px;
        @include responsive(s) {
          @include type-1(p1, mobile);
        }
        @include responsive(xs) {
          @include type-1(p1, mobile);
        }
      }

      a {
        @include type-1(p2, desktop);
        color: $pink;
        transition: 0.3s ease;

        &:hover {
          color: $pink-light;
        }
      }
    }
  }
}
