$white: #FFFFFF;
$blue-light: #666CA3;
$blue: #13183F;
$gray: #83869A;
$pink: #F74780;
$pink-light: #FFA7C3;

$gradient-1: linear-gradient(180deg, #F02AA6, #FF6F48);
$gradient-2: linear-gradient(180deg, #4851FF, #F02AA6);
$gradient-bg: linear-gradient(180deg, #FFFFFF, #F0F1FF);