.footer-bg {
  background-color: $blue;

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 3.2rem;
    padding-bottom: 3.2rem;

    .logo {
      @include responsive(xs) {
        width: 8.9rem;
      }
    }
  }
}
