.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  .logo {
    @include responsive(xs) {
      width: 8.9rem;
    }
  }
}