@mixin type-1($size, $device) {
  font-family: "Plus Jakarta Sans";

  // H1
  @if ($size == h1 and $device == desktop) {
    font-size: 5.6rem;
    line-height: 7rem;
    font-weight: 800;
  } @else if ($size == h1 and $device == mobile) {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 800;
  }

  // H2
  @else if ($size == h2 and $device == desktop) {
    font-size: 4rem;
    line-height: 5.1rem;
    font-weight: 800;
  } @else if ($size == h2 and $device == mobile) {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 800;
  }

  // H3
  @else if ($size == h3 and $device == desktop) {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 800;
  } @else if ($size == h3 and $device == mobile) {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 800;
  }

  // H4
  @else if ($size == h4 and $device == desktop) {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 800;
  } @else if ($size == h4 and $device == mobile) {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 800;
  }

  // P1
  @else if ($size == p1 and $device == desktop) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
  } @else if ($size == p1 and $device == mobile) {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
  }

  // P2
  @else if ($size == p2 and $device == desktop) {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
  }
}
